body{
  margin: 0;
  padding: 0;
  font-family: 'Merriweather';
}

.container-fluid{
  overflow-y:scroll;
}

.container-fluid::-webkit-scrollbar {
    display: none;
}
header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}


header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

#logo{
  height: 50px;  
  width: 120px;
}


#About #Skills{
  border: 1px solid;
  box-shadow: 5px 10px 18px;
}

#textareaform{
  resize: none;
}

.navbar{
  border: 2px solid #B58900;
}

section{
  overflow: hidden
}

#gmapcard{
  border: 2px solid #073642;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.card{
  border: 2px solid #073642;
}
.card-img-top{
  height: 15vw;
  width: 100%;
  object-fit:cover;
}

